body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background:#f4f4f4;
    text-align:center;
}

header{
    background:#2563eb;
    color:white;
    padding:25px;
}

button{
    padding:12px 25px;
    border:none;
    background:#2563eb;
    color:white;
    border-radius:8px;
    cursor:pointer;
}

button:hover{
    background:#1d4ed8;
}