body{
    margin:0;
    font-family:American Typewriter, serif;
    background:#f4f4f4;
    text-align:center;
}

header{
    background:#f58dde;
    color:white;
    padding:1px;
}

.menu-btn {
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
    color:#f8ecf5;
    

    position: absolute;
    left: 20px;
    top: 20px;
    
    
    
}

#menu {
    text-align: left;
    
    
}

#item:hover{
    transition: linear;
    color: rgb(224, 43, 191); 
}


nav {
    display: none;
    flex-direction: column;
    background-color: #fff;
    padding: 10px;
    position: absolute;
    left: 0px;
    top: 85px;
    
}

nav.ativo {
    display: flex;
}

nav a {
    text-decoration: none;
    color: rgb(243, 149, 221);
    padding: 10px;

}

.container {
    width: 100px;
    height: 100px;
    background-color: rgb(250, 123, 222);
    position: left;
  }
  



